{% extends 'cart/base.html' %}

{% block title %} Корзина {% endblock %}

{% block body %}

<h2>Корзина {{ user.username }}</h2>
{% if cart.items.all %}
<table>
    <tr>
        <th>Товар</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Общая стоимость</th>
        <th>Действие</th>
    </tr>
    {% for item in cart.items.all %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>
            <form method="post" action="{% url 'cart:update_cart' item.pk %}">
                {% csrf_token %}
                <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                <button type="submit">Обновить</button>
            </form>
        </td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <td>
            <a href="{% url 'cart:remove_from_cart' item.pk %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>Итого: {{ cart.total_price }}</p>

<br>
<form action="{% url 'order:order_create' %}">
    <button type="submit">Оформить заказ</button>
</form>
{% else %}
<p>Корзина пуста</p>
{% endif %}

<a href="{% url 'products:list' %}">Венуться к покупкам</a>

{% endblock %}
