{% extends 'products/base.html' %}

{% block title %}
Список товаров
{% endblock %}

{%  block body %}
    <h1>Товары</h1>

    {% if discount %}
    <h2>Ваша скидка, <b>{{ discount }}%</b> на все товары!</h2>
    {% endif %}

    <ul>
    {% for shoe in shoes %}
    <li>
        <a href="{% url 'products:detail_product' shoe.product.pk %}"> <h4>{{ shoe.product.name }}</h4></a>
        <h3><em>{{ shoe.product.brand }}</em></h3>
        <h4>{{ shoe.product.description }}</h4>
        {% if discount %}
            <h5><del>{{ shoe.product.price }}$</del> <b>{{ shoe.discounted_price }}$</b></h5>
        {% else %}
        <p>Цена: {{ shoe.product.price }}$ </p>
        {% endif %}
        {% if shoe.product.image %}
            <img src="{{ shoe.product.image.url }}" alt="{{ shoe.product.name }}" width="100">
        {% else %}
            <p>Изображение скоро появиться</p>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'products:create_product' %}">Добавить товар</a>
    {% endif %}
<br>
<div>
    <a href="{% url 'index' %}">На главную</a>
</div>
{% endblock %}
